body {
  background: dodgerblue;
}
.carousel-outer {
  max-width: 1200px;
  margin: 0 auto;
}
.scene {
  display: flex;
  justify-content: space-betwwen; /* 좌,우 양끝에 배치 */
}
.scene > div:nth-child(1) {
  flex: 3;
}
.scene > div:nth-child(2) {
  flex: 5;
}

.scene > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
